<head>
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<div class="edit-container"> 
    <div class="edit-description">       
        <h1><%= @book.title %></h1>
        <h3>by <%= @book.authors %></h3>
        <form method="POST" action="/books" class="edit-form">
            <label for="status">Reading status</label><br>   
            <select id="status" name="status">
                <option value="Reading">Reading</option>
                <option value="Want to read">Want to read</option>
                <option value="Read">Read</option>
            </select><br> 
            <label for="subject">Notes</label><br>   
            <textarea id="subject" name="subject" placeholder="Loved this book! It was life changing for me ❤️"></textarea>
            <input type="submit" value="Save">
    </form>
    </div>
</div>