<head>
    <link rel="stylesheet" href="styles/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b146b26bd0.js" crossorigin="anonymous"></script>
</head>
<footer>
    <p>Made with ... by Elvis, Fernando and Nicolle.</p>
    <div class="footer-github"><a href="https://github.com/elvis-qg/finereads" target="_blank"><i class="fab fa-github"></i></a></div>
</footer>