<head>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<div class="navbar-container">
    <div class="navbar-logo">
        <h1><span>Fine</span>reads</h1>   
    </div>    
    <div class="navbar-list">
        <ul>
        <li><a href="/search">Find Books</a></li>
        <li><a href="/books">My books</a></li>  
        </ul>
    </div>
</div>