<head>
    <link rel="stylesheet" href="/styles/landing_page.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap" rel="stylesheet">
</head>
<div class="container-landing">
    <img src="/images/landing-image.png" alt="Finereads">
    <div class="landing-main">
        <h1>Meet <span>Fine</span>reads</h1>
        <p>Your new personal Library</p>
        <div class="landing-button"><a class="landing-button-a" href="/search">Get started</a></div>
    </div>
</div>

