<%= erb :_header %>

<form action="" method="" class="search-container container">
  <label class="search__label" for="search">Find your next book to read</label>
  <div>
    <input class="search__input input" type="text" name="search_book" id="search" placeholder="Search a book...">
    <button class="search__button" type="submit"> 
      <img class="search__img" src="assets/search.svg" alt=""> 
    </button>  
  </div>
</form>

<div class="container-books container">
  <% 8.times do %>
  <%= erb "_book_card".to_sym %>
  <% end %>
</div>

<%= erb :_footer %>