<%= erb :_header %>

<form action="" method="" class="search-container container">
  <label class="search__label" for="search">Find your next book to read</label>
  <input class="search__input" type="text" name="search_book" id="search" placeholder="Search a book...">
  <button type="submit"></button>
</form>

<%= erb :_footer %>