<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<div class="search-container">
  <h2 class="search__title">Find your next book to read</h2>
  <form action="/search" method="get">
    <input class="search__input" type="text" name="books" placeholder="Search a book...">
    <input type="button" value="submit">
  </form>
</div>
<% if !@books_preview.empty?%>
<div class="search-results">
  <% @books_preview.each do |id, image_url|%>
    <div class="results__item">
      <a href="/details">
        <img class="item__image" src=<%= image_url%> alt="book_preview">
      </a>
      <a href="/books?id=<%= "#{id}"%>&status=Want+to+read">
        <div class="item__add-button"><span class="button-text">Want to read</span></div>
      </a>
      <a class="item__add-link" href="/books?id=<%= "#{id}"%>&status=Read">Mark as a read</a>     
    </div>
  <% end%>
</div>
<% end%>




<input hidden name="status" value="want to read">


