footer{
    background-color: #fffaf0;
    padding: 20px 0;
    margin-top: 100px;
}
footer p{
    color: #4A5568;
    font-family: 'Lato';
    text-align: center;
}
.footer-github{
    display: flex;
    justify-content: center;
    padding-top: 14px;
}
.footer-github i{
    color: #4A5568;
    font-size: 20px;
}
.footer-github i:hover{
    transform: scale(1.2);
}