.body {
  background-color: #fffaf0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 35px;
  font-family: Nunito;
}

.search__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 35px;
}

.search__form {
  height: 40px;
  display: flex;
}

.search__input {
  width: 420px;
  height: 40px;
  color: #1a202c;
  line-height: 22px;
  font-size: 16px;
  border-style: none;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.search__button {
  width: 40px;
  height: 40px;
  background-color: #F6AD55;
  border-style: none;
  box-shadow: 0px 5px 10px 0px  rgba(0,0,0,0.2);
}

.search-results {
  width: 844px;
  height: 692px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: Nunito;
}

.results__item {
  width: 202px;
  height: 326px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-image-container {
  width: 153px;
  height: 230px;
}

.item__image {
  width: 153px;
  height: 230px;
}

.item__button {
  margin-top: 12px;
  text-decoration: none;
}

.item__add-button {
  width: 110px;
  height: 28px;
  background-color: #38a169;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.item__add-link {
  color: #2b6cb0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  text-decoration: none;
}